 @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body{
    font-family: 'Ubuntu', sans-serif;
}

.container-fluid{
    background-color: black;
}
.btnmyBtn{
    background-color: blanchedalmond;
}